@import url('https://fonts.googleapis.com/css?family=Galada');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
/*------font------*/
body {
	margin: 0;
	width: 100%;
	font-family: 'Titillium Web', sans-serif;
}
.header {
	position: relative;
	top: 40px;
}
.head {
	max-width: 1120px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.slogan {
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 1120px;
	margin-left: auto;
	margin-right: auto;
	height: 596px;
}
.text {
	font-size: 45px;
	font-weight: bolder;
    text-align: center;
	position: relative;
	text-shadow: 0px 0px 1px rgb(82, 82, 82), 0 0 1px;
}
/*------animation------*/
.menu_block>.butt {
    display: inline-block;
}
.classic_b {   
    font-weight:700;
    font-size:3.3em; 
    text-align:center;
    transition:all 0.5s ease;
    padding:20px;
    background: #87509c;
    color: white;
    font-size: 20px;
    padding: 5px 19px;
    border: #87509c;
    border-radius: 5px;
    font-family: 'Titillium Web', sans-serif;
}
.classic_b:hover {
    box-shadow: inset 0 0 0 23px #643a79;
  }
.butt {
    font-weight:700;
    background: #643a79;
    color: white;
    font-size: 20px;
    padding: 5px 19px;
    border: #643a79;
    border-radius: 5px;
    font-family: 'Titillium Web', sans-serif;
}
/*------butt_eff------*/
.animate {
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

.action-button {
	margin-top: 20px;
	position: relative;
	padding: 14px 40px;
	margin: 29px 10px 10px 0px;
  	float: left;
	border-radius: 4.3px;
	font-family: 'Titillium Web', sans-serif;
	font-size: 25px;
	color: #ffffff;
	text-decoration: none;	
}

.yellow {
	background-color: #eb7d4b;
	border-bottom: 5px solid #c86a40;
	text-shadow: 0px -2px #c86a40;
}

.action-button:active {
	transform: translate(0px,5px);
	-webkit-transform: translate(0px,5px);
	border-bottom: 1px solid #914827;
}
/*------text_start------*/
.logo {
    margin-left: 16px;
}
/*------paragraph_start------*/
.par_up {
    display: flex;
	justify-content: center;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	height: 140px;
	font-size: 40px;
}
.par_ud {
    display: flex;
	justify-content: center;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	border-bottom: 4px solid #14a58c;
	width: 87px;
}
.par_down {
	display: flex;
	margin-top: 20px;
	justify-content: center;
	align-items: center;
	font-size: 19px;
}
.par_down_2 {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 19px;
}
/*------img------*/
.info {
	display: flex;
	flex-direction: row;
	justify-content: center;
	max-width: 1120px;
	margin-left: auto;
	margin-right: auto;
	height: 575px;
}

.info-img {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.title-row {
	font-size: 24px;
	font-weight: bold;
}

.info-row {
	font-size: 16px;
	padding: 41px;
	text-align: center;
}

/*------par_0------*/
.par_1 {
	background: #87509c;
	height: 596px;
	color: #fff;
}
.par_2 {
	background: #17c2a4;
	height: 747px;
	color: #fff;
}
.row-3 {
	background: #e7f1f8;
	height: 914px;
}
.par_4 {
	background: #fff;
	height: 655px;
}
.par_5 {
	background: #ffdd99;
	height: 1423px;
}
.par_6 {
	background: #d74680;
	height: 894px;
}
.par_7 {
	background: #3c5499;
	height: 818px;
}
/*------paragraph_end------*/